TeslaMate State to Hue + Unicorn.json
[
    {
        "id": "4e6e8e11.18b5b",
        "type": "mqtt in",
        "z": "b77ca65b.c48f48",
        "name": "Tesla User Present",
        "topic": "teslamate/cars/1/is_user_present",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2092247.9daaa8",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "b3db44bb.04a898"
            ]
        ]
    },
    {
        "id": "253fabbf.34c0ac",
        "type": "mqtt in",
        "z": "b77ca65b.c48f48",
        "name": "Tesla Locked",
        "topic": "teslamate/cars/1/locked",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2092247.9daaa8",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "b3db44bb.04a898"
            ]
        ]
    },
    {
        "id": "f8aac5e9.6c33b",
        "type": "mqtt in",
        "z": "b77ca65b.c48f48",
        "name": "Tesla Sentry Mode",
        "topic": "teslamate/cars/1/sentry_mode",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2092247.9daaa8",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "b3db44bb.04a898"
            ]
        ]
    },
    {
        "id": "3570874f.67b37",
        "type": "mqtt in",
        "z": "b77ca65b.c48f48",
        "name": "Tesla Doors Open",
        "topic": "teslamate/cars/1/doors_open",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2092247.9daaa8",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "b3db44bb.04a898"
            ]
        ]
    },
    {
        "id": "1876dba3.a8a65c",
        "type": "mqtt in",
        "z": "b77ca65b.c48f48",
        "name": "Tesla Windows Open",
        "topic": "teslamate/cars/1/windows_open",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2092247.9daaa8",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "b3db44bb.04a898"
            ]
        ]
    },
    {
        "id": "f610e1a0.7bfa18",
        "type": "mqtt in",
        "z": "b77ca65b.c48f48",
        "name": "Tesla Trunk Open",
        "topic": "teslamate/cars/1/trunk_open",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2092247.9daaa8",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "b3db44bb.04a898"
            ]
        ]
    },
    {
        "id": "f0d80fe6.a9d818",
        "type": "mqtt in",
        "z": "b77ca65b.c48f48",
        "name": "Tesla Frunk Open",
        "topic": "teslamate/cars/1/frunk_open",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2092247.9daaa8",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "b3db44bb.04a898"
            ]
        ]
    },
    {
        "id": "1b623b82.9f5804",
        "type": "function",
        "z": "b77ca65b.c48f48",
        "name": "Alarm",
        "func": "msg.tesla = msg.payload;\nmsg.tesla.latest_change = msg.topic;\nmsg.topic = \"alarm\";\nif (msg.tesla.is_user_present == \"false\") {\n if (\n  msg.tesla.locked       == \"false\" ||\n  msg.tesla.sentry_mode  == \"false\" ||\n  msg.tesla.doors_open   == \"true\"  ||\n  msg.tesla.windows_open == \"true\"  ||\n  msg.tesla.trunk_open   == \"true\"  ||\n  msg.tesla.frunk_open   == \"true\"\n ) {\n  msg.payload = true;\n  node.send(null, msg)\n }\n else {\n  msg.payload = false;\n  msg.reset = true;\n  node.send(msg, null)\n }\n}\nelse {\n msg.payload = false;\n msg.reset = true;\n node.send(msg, null)\n}\nnode.done();\nreturn;",
        "outputs": 2,
        "noerr": 0,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "7e6b1de5.569974"
            ],
            [
                "ee8a139b.429d58"
            ]
        ]
    },
    {
        "id": "64704bc4.0736cc",
        "type": "join",
        "z": "b77ca65b.c48f48",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "7",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "1b623b82.9f5804",
                "1dbb9ea9.979959"
            ]
        ]
    },
    {
        "id": "ee8a139b.429d58",
        "type": "function",
        "z": "b77ca65b.c48f48",
        "name": "Alert",
        "func": "if (msg.payload) {\n msg.payload = {\n//  \"on\" : true,\n//  \"brightness\" : 100,\n// \"color\" : \"red\",\n  \"alert\" : 1,\n  \"hex\" : \"FF6000\"\n }\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "a90bcc1f.62d4b",
                "7e6b1de5.569974"
            ]
        ]
    },
    {
        "id": "fe19aba2.6b8ca8",
        "type": "change",
        "z": "b77ca65b.c48f48",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hue.laststate",
                "pt": "flow",
                "to": "laststate",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b3db44bb.04a898",
        "type": "change",
        "z": "b77ca65b.c48f48",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$split(msg.topic, \"/\")[-1]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "64704bc4.0736cc",
                "1f8300f.8ff0bff"
            ]
        ]
    },
    {
        "id": "1dbb9ea9.979959",
        "type": "debug",
        "z": "b77ca65b.c48f48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "a90bcc1f.62d4b",
        "type": "hue-group",
        "z": "b77ca65b.c48f48",
        "name": "Stuerne",
        "bridge": "21294f09.1eb7e",
        "groupid": "18",
        "colornamer": true,
        "skipevents": false,
        "x": 600,
        "y": 360,
        "wires": [
            [
                "fe19aba2.6b8ca8"
            ]
        ]
    },
    {
        "id": "1f8300f.8ff0bff",
        "type": "debug",
        "z": "b77ca65b.c48f48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 350,
        "y": 200,
        "wires": []
    },
    {
        "id": "7e6b1de5.569974",
        "type": "delay",
        "z": "b77ca65b.c48f48",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 720,
        "y": 280,
        "wires": [
            [
                "ee8a139b.429d58"
            ]
        ]
    },
    {
        "id": "d8de4a7b.17d85",
        "type": "inject",
        "z": "b77ca65b.c48f48",
        "name": "Stop",
        "topic": "",
        "payload": "{\"reset\":true}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "e97dd159.3c82b"
            ]
        ]
    },
    {
        "id": "e97dd159.3c82b",
        "type": "change",
        "z": "b77ca65b.c48f48",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 240,
        "wires": [
            [
                "7e6b1de5.569974"
            ]
        ]
    },
    {
        "id": "3de153e4.c24bd4",
        "type": "inject",
        "z": "b77ca65b.c48f48",
        "name": "Test",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "ee8a139b.429d58"
            ]
        ]
    },
    {
        "id": "b2092247.9daaa8",
        "type": "mqtt-broker",
        "z": "",
        "name": "TeslaMate",
        "broker": "192.168.1.101",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "21294f09.1eb7e",
        "type": "hue-bridge",
        "z": "",
        "name": "Rune",
        "bridge": "192.168.1.8",
        "key": "Nuop4QAIKGZRJbtcxC7LMXXLt9L8FAL-uuKbik9W",
        "interval": "3000",
        "disableupdates": false
    }
]